@using College.Models
@model ClubsModel

@{
    ViewData["Title"] = "Clubs & Activities";
}

<!--Start Page Banner-->
<div class="page-banner-area bg-2">
    <div class="container">
        <div class="page-banner-content">
            <h1>Clubs & Activities</h1>
            <ul>
                <li><a href="~/">Home</a></li>
                <li>Clubs & Activities</li>
            </ul>
        </div>
    </div>
</div>
<!--End Page Banner-->
<!--Start Clubs & Activities Section-->
<div class="clubs-area pt-100 pb-70">
    <div class="container">

        <!-- Tabs Navigation -->
        <ul class="nav nav-tabs justify-content-center mb-4" id="clubsTabs" role="tablist">

            @{
                bool active = true;
            }

            @foreach (var item in Model.LstClubsMaster)
            {
                <li class="nav-item" role="presentation">
                    <button class="nav-link @(active ? "active" : "")" id="@(item.Clubs)-tab" data-bs-toggle="tab" data-bs-target="#@(item.Clubs)" type="button" role="tab">
                        @item.Clubs
                    </button>
                </li>
                active = false;
            }

        </ul>

        <!-- Tabs Content -->
        <div class="tab-content" id="clubsTabsContent">
            @{
                active = true;
            }
            @foreach (var item in Model.LstClubsMaster)
            {
                <div class="tab-pane fade show @(active ? "active" : "")" id="@(item.Clubs)" role="tabpanel" aria-labelledby="@(item.Clubs)-tab">
                    <div class="container">
                        <div class="section-title mb-4">
                            <h2>@item.FullName</h2>
                        </div>
                        <p>
                            @Html.Raw(item.Description)
                        </p>

                        <!-- Events -->
                        @if (Model.LstClubsDetails.Where(x => x.ClubsMasterId == item.Id && x.Category == "Events").Count() > 0)
                        {
                            <div class="">
                                <div class="section-title mb-4 mt-5">
                                    <h2>Events</h2>
                                </div>
                                <div class="text-center">
                                    <div class="club-slider owl-carousel owl-theme">

                                        @foreach (var content in Model.LstClubsDetails.Where(x => x.ClubsMasterId == item.Id && x.Category == "Events").ToList())
                                        {
                                            <div class="item">
                                                <img src="@Url.Content(content.ImagePath)" class="d-block w-100 rounded mb-3" alt="@content.Heading">
                                                <h5>@content.Heading</h5>
                                                <p class="px-5">
                                                    @Html.Raw(content.ShortContent)
                                                </p>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                        

                        <!-- Activities -->
                        @if (Model.LstClubsDetails.Where(x => x.ClubsMasterId == item.Id && x.Category == "Activities").Count() > 0)
                        {
                            <div class="clsClubsContent">
                                <div class="section-title mb-4 mt-5">
                                    <h2>Activities</h2>
                                </div>
                                <div class="text-center">
                                    <div class="club-slider owl-carousel owl-theme">

                                        @foreach (var content in Model.LstClubsDetails.Where(x => x.ClubsMasterId == item.Id && x.Category == "Activities").ToList())
                                        {
                                            <div class="item">
                                                <img src="@Url.Content(content.ImagePath)" class="d-block w-100 rounded mb-3" alt="@content.Heading">
                                                <h5>@content.Heading</h5>
                                                <p class="px-5">
                                                    @Html.Raw(content.ShortContent)
                                                </p>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        }

                        <!-- Gallery -->
                        @if (Model.LstClubsDetails.Where(x => x.ClubsMasterId == item.Id && x.Category == "Gallery").Count() > 0)
                        {
                            <div class="clsClubsContent">
                                <div class="section-title mb-4 mt-5">
                                    <h2>Gallery</h2>
                                </div>
                                <div class="text-center">
                                    <div class="club-slider owl-carousel owl-theme">

                                        @foreach (var content in Model.LstClubsDetails.Where(x => x.ClubsMasterId == item.Id && x.Category == "Gallery").ToList())
                                        {
                                            <div class="item">
                                                <img src="@Url.Content(content.ImagePath)" class="d-block w-100 rounded mb-3" alt="@content.Heading">
                                                <h5>@content.Heading</h5>
                                                <p class="px-5">
                                                    @Html.Raw(content.ShortContent)
                                                </p>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

                active = false;
            }

        </div>
    </div>
</div>
<!--End Clubs & Activities Section-->

<script>
    $(document).ready(function(){
        $("#navbarSupportedContent .nav-link").removeClass("active");
        $("#navbarSupportedContent .clsMenu-CampusLife").addClass("active");
        $("#navbarSupportedContent .clsMenu-Clubs").addClass("active");
    });


    $(document).ready(function () {
        $('.club-slider').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            dots: false,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: false,
            items: 1,
            navText: [
                '<i class="ri-arrow-left-line"></i>',
                '<i class="ri-arrow-right-line"></i>',
            ]
        });
    });
</script>