@using College.DTO
@model List<ManagementDTO>

<div class="courses-area pt-100 pb-70 clsManagements">
    <div class="container">
        <div class="section-title mb-4">
            <h2>Management</h2>
            @* <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ut elit tellus luctus nec ullamcorper mattis</p> *@
        </div>
        <div class="courses-slider style-2 owl-carousel owl-theme">

            @foreach (var item in Model)
            {
                <div class="single-courses-card style3">
                    <div class="courses-img">
                        <img src="@Url.Content(item.Management.ImagePath)" alt="Image" onclick="PopupShow(@(item.Management.Id.ToString()));">
                    </div>
                    <div class="courses-content">
                        <svg class="ADBcard__arc" xmlns="http://www.w3.org/2000/svg"><path></path></svg>
                        <h4>@item.Management.Name</h4>
                        <h6>@item.Management.Designation</h6>
                    </div>
                </div>
            }
        </div>


        <div class="Team-sec">
            <div class="teamsec">

                @foreach (var item in Model)
                {
                    <div class="modal fade modalteam" id="DivPopupShow_@((item.Management.Id.ToString()).ToString())" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <main class="main">
                                        <section class="card-area loaded">
                                            <section class="card-section loaded">
                                                <div class="card">
                                                    <div class="flip-card">
                                                        <div class="flip-card__container">
                                                            <div class="card-front">
                                                                <div class="card-front__tp card-front__tp--city">
                                                                    <h2>@item.Management.Name</h2>
                                                                    <h4>@item.Management.Designation</h4>
                                                                </div>
                                                                <div class="card-front__bt">
                                                                    <p class="card-front__text-view card-front__text-view--city">
                                                                        <img src="~/img/logo/s_logo.png" onclick="PopupShow(@(item.Management.Id.ToString()));" class="ADBcard__image" alt="" data-nosnippet="">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="card-back">
                                                                <img src="@Url.Content(item.Management.ImagePath)" onclick="PopupShow(@(item.Management.Id.ToString()));" class="ADBcard__image imgg" alt="" data-nosnippet="">
                                                                <h5>@item.Management.Name</h5>
                                                                <p>@item.Management.Designation</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="inside-page">
                                                        <div class="inside-page__container">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 w-75 pt-20">

                                                                @foreach (var content in item.lstManagementContent)
                                                                {
                                                                    <p class="teamdetails-info text-black fs-22">
                                                                        @content.Content
                                                                    </p>
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </section>
                                    </main>

                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


<script>
    $('.courses-slider').owlCarousel({
        loop: true,
        margin: 30,
        nav: true,
        dots: false,
        thumbs: false,
        autoplay: true,
        smartSpeed: 1000,
        autoplayTimeout: 2500,
        autoplayHoverPause: true,
        navText: [
            '<i class="ri-arrow-left-line"></i>',
            '<i class="ri-arrow-right-line"></i>',
        ],
        responsive:{
            0:{
                items:1,
            },
            768:{
                items:2,
            },
            992:{
                items:3,
            },
            1200:{
                items:3,
            },

        }

    });

    function PopupShow(Id)
    {
        $('#DivPopupShow_'+Id+'  .flip-card__container').removeClass("clsopen");
        $('#DivPopupShow_'+Id+'').modal('show');
        setTimeout(function () { $('#DivPopupShow_'+Id+' .flip-card__container').addClass("clsopen") }, 1000);
    }
</script>
